<h1>This is the secret page !</h1>
<img src="https://media.istockphoto.com/photos/businessman-picture-id690158038?k=6&m=690158038&s=612x612&w=0&h=sk9bBhI45oCVavRTl38V1jnYceNyjK5upzdw7lc4PBg=">
<p>Yep you found me!</p>
<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login<li>
<li><a href="/logout">Logout!</a></li>
